<!DOCTYPE html>
<html ng-app='feedModule'>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js"></script>
</head>

<body ng-controller='FeedCtrl'>

<div ng-repeat="feed in feeds | orderBy:'title'">
	<p><span ng-repeat="item in feed.entries">
	<a href="{{item.link}}" target="_blank">{{item.title}}</a><br />
	</span></p>
</div>

<script src="js/feeds.js"></script>
	
</body>
</html>
